@import '~reset-css/reset.css'
@import './common/index.sass'
@import './common/gem.scss'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    background: linear-gradient(90.12deg, rgba(169, 224, 252, 0) 5.01%, #A9E0FC 99.85%)
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    visibility: hidden
    overflow: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: 100%
    min-width: auto
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.4s ease
    &Loaded
        opacity: 1

.btn
    display: flex
    padding: gem(14) gem(30)
    align-items: center
    &-border
        border: gem(1) solid #20B1F9
    &-fill
        background-color: #20B1F9
    .icon
        width: gem(14)
        height: gem(14)
        margin-right: gem(10)
        img
            display: block
            width: 100%
            height: 100%

input
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)

    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 850px)

    .xs-hidden
        display: none

    .xs-visible
        display: block

@media only screen and (max-width : 690px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none
