.header
    position: fixed
    z-index: 100
.header-container
    width: gem(1440)
    height: gem(80)
    padding-top: gem(40)
    .header-content
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        width: gem(1260)
        height: gem(40)
        .header-logo
            width: gem(117.2)
            height: gem(40)
            img
                display: block
                width: 100%
                height: 100%
        .header-nav
            padding-left: gem(92)
            .nav-list
                display: flex
                flex-direction: row
                gap: gem(30)
                .nav-item a
                    display: block
        .header-sub-menu
            display: flex
            gap: gem(30)
            .sub-menu-item
                display: flex
                align-items: center
                gap: gem(7)
                position: relative
                .icon
                    width: gem(14)
                    height: gem(14)
                    img
                        display: block
                        width: 100%
                        height: 100%
                .drop-down-menu
                    position: absolute
                    top: 0
                    height: 100%
                    overflow: hidden
                    left: gem(-20)
                    padding-top: gem(32)
                    opacity: 0
                    &:hover
                        opacity: 1
                        height: max-content
                .drop-down-list
                    background-color: #FFFFFF
                    width: gem(103)
                    position: relative
                    &::before
                        content: ''
                        display: block
                        width: 0
                        height: 0
                        border-left: gem(6) solid transparent
                        border-right: gem(6) solid transparent
                        border-bottom: gem(8) solid #FFFFFF
                        position: absolute
                        top: gem(-6)
                        right: 0
                        left: 0
                        margin: 0 auto
                .drop-down-item
                    border-bottom: 1px solid rgba(9, 81, 152, 0.2)
                    padding: gem(10) 0
                    padding-left: gem(20)
                    display: flex
                    align-items: center
                    gap: gem(7)
                    &.active
                        .item-icon
                            opacity: 1
                    &:last-child
                        border-bottom: none
                .item-icon
                    width: gem(8)
                    height: gem(5)
                    opacity: 0
                    svg
                        display: block
                        width: 100%
                        height: 100%

@media all and (max-width: 1024px)
    .header
        &-container
            width: gem(640)
