@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">
    <section class="hero">
        <div class="container">
            <div class="content-wrap">

            </div>
        </div>
    </section>
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')