@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">
    <h1 class="title-h1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequatur!</h1>
    <h2 class="title-h2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequatur!</h2>
    <h3 class="title-h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequatur!</h3>
    <h4 class="title-h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequatur!</h4>
    <p class="desc-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequatur!</p>
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')