@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">
    <section class="hero">
        <div class="container">
            <div class="content-wrap">
                <div class="title-wrap">
                    <h1 class="title-h1">We're securing <br>
                        the decentralized web
                    </h1>
                </div>
                <div class="text">
                    <p class="desc-1">
                        Enigma is a secure computation protocol, where “secret nodes” in our network perform
                        computations over encrypted data. Enigma brings privacy to any kind of computation - not just
                        transactions - helping to improve the adoption and usability of decentralized technologies.
                    </p>
                </div>
            </div>
            <div class="aside-wrap">
                <div class="aside-left">
                    <a class="btn btn-fill" href="#">
                        <div class="icon">
                            <img src="/assets/img/Frame 1.png" alt="Frame 1">
                        </div>
                        <div class="text">
                            <p class="desc-1">Learn the Basics</p>
                        </div>
                    </a>
                </div>
                <div class="aside-right">
                    <a class="btn btn-border" href="#">
                        <div class="icon">
                            <img src="/assets/img/Group 2.13.png" alt="Group 2.13">
                        </div>
                        <div class="text">
                            <p class="desc-1">Build with Enigma</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cub">
            <img src="/assets/img/Group 2.11.png" alt="Group 2.11">
        </div>
        <div class="play-btn-wrap">
            <button class="play-btn">
                <div class="circle"></div>
                <svg class="triangle" width="6" height="10" viewBox="0 0 6 10" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 5L0 0V10L6 5Z" fill="#20B1F9" />
                </svg>
                <p class="desc-1">What is Enigma?<span>2:00</span></p>
            </button>
        </div>
    </section>
    <section class="group">
        <div class="container">
            <div class="content-wrap-left">
                <ul class="list">
                    <li class="item">
                        <div class="item-icon">
                            <img src="/assets/img/data-privacy.png" alt="privacy">
                        </div>
                        <div class="item-title">
                            <h2 class="title-h2">Data Privacy</h2>
                        </div>
                        <div class="item-description">
                            <p class="desc-1">Blockchains are bad at privacy by design. This greatly limits the kinds of
                                applications that can be built in every field, from finance to gaming to healthcare.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-icon">
                            <img src="/assets/img/usability.png" alt="usability">
                        </div>
                        <div class="item-title">
                            <h2 class="title-h2">Usability</h2>
                        </div>
                        <div class="item-description">
                            <p class="desc-1">Decentralized applications are difficult to use, and without privacy, many
                                new problems are created for users trying to interact with these applications.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-icon">
                            <img src="/assets/img/scalability.png" alt="scalability">
                        </div>
                        <div class="item-title">
                            <h2 class="title-h2">Scalability</h2>
                        </div>
                        <div class="item-description">
                            <p class="desc-1">Intensive and repetitive computations on blockchains are far too slow and
                                expensive to be viable.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-icon">
                            <img src="/assets/img/data-ownership.png" alt="ownership">
                        </div>
                        <div class="item-title">
                            <h2 class="title-h2">Data Ownership</h2>
                        </div>
                        <div class="item-description">
                            <p class="desc-1">Current solutions for sharing data off-chain still lead to silos of data
                                that belong to corporations, not people.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-wrap-right"></div>
        </div>
    </section>
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')