@require('./common/structure/head.ejs')
@require('./common/header.ejs')


<main id="main" data-page-id="home">
    @require('./sections/hero.ejs')
    @require('./sections/group.ejs')
    <div class="section-wrap">
        <div class="background">
            <img src="/assets/img/bg_section.svg" class="bg-desktop" alt="bg_section">
            <img src="/assets/img/bg_section-tablet.svg" class="bg-tablet" alt="bg_section">
            <img src="/assets/img/bg_section-mobile.svg" class="bg-mobile" alt="bg_section">
        </div>
        @require('./sections/solution.ejs')
        @require('./sections/community.ejs')
    </div>
    @require('./sections/subscribe-section.ejs')
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')