<header id="header" class="header" <% if (typeof hideheader !=='undefined' && hideheader) { %>
    style="visibility: hidden;"
    <% } %>
        >
        <% if (typeof removeheader==='undefined' || !removeheader) { %>

            <div class="header-container">
                <div class="header-content">
                    <div class="header-logo">
                        <img src="/assets/img/final-horizontal-black-tor.png" alt="final-horizontal-black-tor">
                    </div>
                    <nav class="header-nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="desc-1" href="#">Why Enigma</a>
                            </li>
                            <li class="nav-item">
                                <a class="desc-1" href="#">Community</a>
                            </li>
                            <li class="nav-item">
                                <a class="desc-1" href="#">Developers</a>
                            </li>
                            <li class="nav-item">
                                <a class="desc-1" href="#">Ecosystem</a>
                            </li>
                            <li class="nav-item">
                                <a class="desc-1" href="#">Team</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-sub-menu">
                        <div class="sub-menu-item">
                            <div class="icon">
                                <img src="/assets/img/Frame.png" alt="Frame">
                            </div>
                            <div class="text">
                                <p class="desc-1">English</p>
                            </div>
                            <div class="drop-down-menu">
                                <ul class="drop-down-list">
                                    <li class="drop-down-item active">
                                        <div class="item-icon">
                                            <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.8" d="M1 3L4 6L9 1" stroke="#E72E9D" />
                                            </svg>
                                        </div>
                                        <p class="desc-1-leng">English</p>
                                    </li>
                                    <li class="drop-down-item">
                                        <div class="item-icon">
                                            <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.8" d="M1 3L4 6L9 1" stroke="#E72E9D" />
                                            </svg>
                                        </div>
                                        <p class="desc-1-leng">中文</p>
                                    </li>
                                    <li class="drop-down-item">
                                        <div class="item-icon">
                                            <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.8" d="M1 3L4 6L9 1" stroke="#E72E9D" />
                                            </svg>
                                        </div>
                                        <p class="desc-1-leng">日本語</p>
                                    </li>
                                    <li class="drop-down-item">
                                        <div class="item-icon">
                                            <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.8" d="M1 3L4 6L9 1" stroke="#E72E9D" />
                                            </svg>
                                        </div>
                                        <p class="desc-1-leng">한국어</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sub-menu-item">
                            <div class="icon">
                                <img src="/assets/img/Frame 2.png" alt="Frame2">
                            </div>
                            <div class="text">
                                <p class="desc-1">Join the Community</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- header markup here -->

            <% } %>

</header>