<section class="community">
    <div class="container">
        <div class="visual">
            <img src="/assets/img/Group12.svg" alt="Group12">
        </div>
        <div class="content-wrap-call">
            <div class="content-wrap">
                <div class="title">
                    <h2 class="title-h1 white">Who are we?</h2>
                </div>
                <div class="description">
                    <p class="desc-1 light">The Enigma team and community are builders, researchers, explorers,
                        and
                        pioneers dedicated to growing global adoption of decentralized technologies. Join us.
                    </p>
                </div>
                <div class="button-wrap">
                    <a class="btn btn-fill-white" href="#">
                        <div class="icon">
                            <svg width="19" height="14" viewBox="0 0 19 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-item"
                                    d="M12.1649 6.45435C12.1649 6.45435 11.4103 5.01154 9.57602 5.01147C7.74174 5.01141 6.75305 6.54486 6.75305 6.54486"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="9.57517" cy="2.17343" rx="1.33299" ry="1.33139"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                                <path class="svg-item"
                                    d="M6.192 13.0663C6.192 13.0663 5.15631 11.5416 3.32203 11.5415C1.48776 11.5414 0.452393 13.0925 0.452393 13.0925"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="3.27457" cy="8.7208" rx="1.33299" ry="1.33139"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                                <path class="svg-item"
                                    d="M18.2322 13.0663C18.2322 13.0663 17.1965 11.5416 15.3623 11.5415C13.528 11.5414 12.4926 13.0925 12.4926 13.0925"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="15.3148" cy="8.7208" rx="1.33299" ry="1.33139"
                                    stroke="#20B1F9" stroke-width="0.7875" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="desc-1">Our Team</p>
                        </div>
                    </a>
                    <a class="btn btn-border-white" href="#">
                        <div class="icon">
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <ellipse class="svg-item" cx="1.02521" cy="1.02399" rx="1.02521" ry="1.02399"
                                    transform="matrix(1 0 0 -1 1 3.04834)" stroke="white" stroke-width="0.7875" />
                                <path class="svg-item" d="M2.97323 2.69997L4.48179 3.93701" stroke="white"
                                    stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="14.0805" cy="2.02387" rx="1.02521" ry="1.02399"
                                    transform="rotate(180 14.0805 2.02387)" stroke="white" stroke-width="0.7875" />
                                <path class="svg-item" d="M13.1324 2.69948L11.6239 3.93652" stroke="white"
                                    stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="2.02521" cy="12.2259" rx="1.02521" ry="1.02399"
                                    stroke="white" stroke-width="0.7875" />
                                <path class="svg-item" d="M2.97323 11.5503L4.48179 10.3132" stroke="white"
                                    stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="1.02521" cy="1.02399" rx="1.02521" ry="1.02399"
                                    transform="matrix(-1 0 0 1 15.1057 11.2024)" stroke="white" stroke-width="0.7875" />
                                <path class="svg-item" d="M13.1324 11.5508L11.6239 10.3137" stroke="white"
                                    stroke-width="0.7875" />
                                <ellipse class="svg-item" cx="8.20644" cy="7.12507" rx="1.23787" ry="1.23639"
                                    fill="white" />
                                <ellipse class="svg-item" cx="8.2063" cy="7.12485" rx="3.19214" ry="3.18833"
                                    stroke="white" stroke-width="0.7875" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="desc-1">Our Community</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>