<section class="hero">
    <div class="container">
        <div class="content-wrap">
            <div class="title-wrap">
                <h1 class="title-h1">We're securing <br>
                    the decentralized web
                </h1>
            </div>
            <div class="text">
                <p class="desc-1">
                    Enigma is a secure computation protocol, where “secret nodes” in our network perform
                    computations over encrypted data. Enigma brings privacy to any kind of computation - not just
                    transactions - helping to improve the adoption and usability of decentralized technologies.
                </p>
            </div>
        </div>
        <div class="aside-wrap">
            <div class="aside-left">
                <a class="btn btn-fill" href="#">
                    <div class="icon">
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse class="svg-item" cx="6.09112" cy="6.27842" rx="6.09112" ry="6.27842"
                                transform="matrix(-0.822685 0.568497 -0.554023 -0.832502 15.7131 9.5921)" stroke="white"
                                stroke-width="0.9" stroke-linejoin="round" />
                            <ellipse class="svg-item" cx="3.6428" cy="3.75481" rx="3.6428" ry="3.75481"
                                transform="matrix(-0.822685 0.568497 -0.554023 -0.832502 12.3007 8.883)" stroke="white"
                                stroke-width="0.9" stroke-linejoin="round" />
                            <ellipse class="svg-item" cx="1.21729" cy="1.25472" rx="1.21729" ry="1.25472"
                                transform="matrix(-0.822685 0.568497 -0.554023 -0.832502 8.92018 8.1803)" stroke="white"
                                stroke-width="0.9" stroke-linejoin="round" />
                            <path class="svg-item"
                                d="M5.6342 5.6696L2.7316 1.5451L5.32829 0.269521L7.18402 5.00358L5.6342 5.6696Z"
                                fill="#20B1F9" />
                            <path class="svg-item" d="M3.56619 2.53479L6.51054 6.79563" stroke="white"
                                stroke-width="0.9" stroke-linejoin="round" />
                            <ellipse class="svg-item" cx="0.53787" cy="0.554409" rx="0.53787" ry="0.554409"
                                transform="matrix(-0.822685 0.568497 -0.554023 -0.832502 4.40451 2.8194)" stroke="white"
                                stroke-width="0.9" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="text">
                        <p class="desc-1">Learn the Basics</p>
                    </div>
                </a>
            </div>
            <div class="aside-right">
                <a class="btn btn-border" href="#">
                    <div class="icon">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle class="svg-item" cx="10.5" cy="3.5" r="3.05" stroke="#20B1F9" stroke-width="0.9" />
                            <rect class="svg-item" x="0.45" y="7.45" width="6.1" height="6.1" stroke="#20B1F9"
                                stroke-width="0.9" />
                            <path class="svg-item" d="M7.72812 13.55L10.5 8.00623L13.2719 13.55H7.72812Z"
                                stroke="#20B1F9" stroke-width="0.9" />
                            <path class="svg-item" d="M0.636396 3.5L3.5 0.636396L6.3636 3.5L3.5 6.3636L0.636396 3.5Z"
                                stroke="#20B1F9" stroke-width="0.9" />
                        </svg>
                    </div>
                    <div class="text">
                        <p class="desc-1">Build with Enigma</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="cub">
        <img src="/assets/img/Group 2.11.png" alt="Group 2.11">
    </div>
    <div class="play-btn-wrap">
        <button class="play-btn">
            <div class="circle"></div>
            <svg class="triangle" width="6" height="10" viewBox="0 0 6 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M6 5L0 0V10L6 5Z" fill="#20B1F9" />
            </svg>
            <p class="desc-1">What is Enigma?<span>2:00</span></p>
        </button>
    </div>
</section>