<section class="solution list-section">
    <div class="container">
        <div class="content-wrap-list">
            <ul class="list">
                <li class="item">
                    <div class="item-icon">
                        <img src="/assets/img/step-1.svg" alt="step-1">
                    </div>
                    <div class="item-title">
                        <h2 class="title-h2 white">Step 1</h2>
                    </div>
                    <div class="item-description">
                        <p class="desc-1 light">A developer writes a secret contract and deploys it to the
                            Enigma
                            Network. This means more value and more opportunity.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="item-icon">
                        <img src="/assets/img/step-2.svg" alt="step-2">
                    </div>
                    <div class="item-title">
                        <h2 class="title-h2 white">Step 2</h2>
                    </div>
                    <div class="item-description">
                        <p class="desc-1 light">Users submit encrypted data to Enigma that can’t be read by
                            anyone
                            else — including the node doing the computation.
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="item-icon">
                        <img src="/assets/img/step-3.svg" alt="step-3">
                    </div>
                    <div class="item-title">
                        <h2 class="title-h2 white">Step 3</h2>
                    </div>
                    <div class="item-description">
                        <p class="desc-1 light">An Enigma node performs the computation, and returns the result
                            (either directly to the user, or to any Ethereum smart contract).
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="item-icon">
                        <img src="/assets/img/step-4.svg" alt="step-4">
                    </div>
                    <div class="item-title">
                        <h2 class="title-h2 white">Step 4</h2>
                    </div>
                    <div class="item-description">
                        <p class="desc-1 light">The work is verified as correct, and payment is released in ENG
                            to the
                            Enigma node that performed the work.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-wrap-call">
            <div class="content-wrap">
                <div class="title">
                    <h2 class="title-h1 white">Enigma builds solutions</h2>
                </div>
                <div class="description">
                    <p class="desc-1 light">Enigma’s protocol helps solve all these challenges by moving
                        computations
                        to a decentralized off-chain network that keeps data encrypted and secure. This means
                        more value, more opportunity, and more usability. Here’s how Enigma works.
                    </p>
                </div>
                <div class="button-wrap">
                    <a class="btn btn-fill-white" href="#">
                        <div class="icon">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-item" d="M5.84595 8.55489V5.46399L8.90203 7.11625L5.84595 8.55489Z"
                                    stroke="#20B1F9" stroke-width="0.84" />
                                <circle class="svg-item" cx="6.96265" cy="7.00916" r="6.53333" stroke="#20B1F9"
                                    stroke-width="0.84" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="desc-1">Try Enigma</p>
                        </div>
                    </a>
                    <a class="btn btn-border-white" href="#">
                        <div class="icon">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-item"
                                    d="M10.0315 0.438704L0.438659 0.438704L0.43866 13.5054L13.5053 13.5054L13.5053 3.93593M10.0315 0.438704L13.5053 3.93593M10.0315 0.438704L10.0315 3.88451L13.5053 3.93593"
                                    stroke="white" stroke-width="0.84" />
                                <path class="svg-item" d="M2.74649 6.02319H11.0225" stroke="white"
                                    stroke-width="0.84" />
                                <path class="svg-item" d="M2.74649 3.64575H6.97707" stroke="white"
                                    stroke-width="0.84" />
                                <path class="svg-item" d="M2.74649 8.40076H10.9685" stroke="white"
                                    stroke-width="0.84" />
                                <path class="svg-item" d="M2.74649 10.71L7.88984 10.71" stroke="white"
                                    stroke-width="0.84" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="desc-1">Documentation</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>