<section class="subscribe-section">
    <div class="container">
        <div class="title-wrap">
            <h2 class="title-h1">Subscribe to Our Newsletter</h2>
        </div>
        <div class="input-wrap">
            <form action="">
                <div class="input">
                    <input type="email" class="input-email" placeholder="Your E-mail">
                    <div class="icon">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.8" clip-path="url(#clip0_849_19619)">
                                <rect x="0.535156" y="1.01709" width="12.9284" height="9.76103" stroke="#3271AC" />
                                <path d="M0.724609 1.25101L6.9375 6.08347L13.4018 1" stroke="#3271AC" />
                                <path d="M6.05762 5.45557L0.597656 10.6646" stroke="#3271AC" />
                                <path d="M8.00488 5.45557L13.4648 10.6646" stroke="#3271AC" />
                            </g>
                            <defs>
                                <clipPath id="clip0_849_19619">
                                    <rect width="14" height="12" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>